.game {
    width: 500px;
    height: 620px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -250px;
    margin-top: -310px;
    padding: 0;
}

.information {
    position: absolute;
    bottom: -32px;
    right: 0;
    text-align: right;
    font-size: 11px;
}
