.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.message {
    position: absolute;
    top: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
}

.actionButton {
    position: absolute;
    bottom: 30%;
    left: 0;
    right: 0;
    text-align: center;
    color: #ffffff;
    font-size: 32px;
}

.actionButton button {
    font-size: 32px;
    padding: 10px;
}
